---
layout: default
---

{% include header.html %}

<div class="blog">
    <h1>Entrega:</h1>
    <ul>
        <li>
            <span class="date">2016.07.06</span> - <a href="https://tasken.github.io/sitio.audiovisual/entrega/">Heterotopías Urbanas</a>
        </li>
    </ul>

    <h1>Ensayos:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y.%m.%d' }}</span> - <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="footer">
	{{ site.time }}
</div>
