// COLORS
$color-primary: black;
$color-background: ghostwhite;
$color-link: deepskyblue;

// FONT
$font-url: "//fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic";
$font-family: "'Crimson Text', serif";

// BREAKPOINTS
$br: 600px;
